.login_div{
    background-image: url('https://programmingtask.000webhostapp.com/p-hero/Assignment-12/loginbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 500px;
    display: flex;
    justify-content: center;
    color: white;
}

.google_login{
    width: auto;
    height: 40px;
    margin-top: 20px;
}

.login_blur_div{
    background-color: rgba(63, 62, 62, 0.712);
    padding: 15px;
    text-align: left;
}

.erroe_massage{
    color: red;
}